@font-face {
  font-family: 'Bauhaus';
  src:  url('fonts/Bauhaus.eot');
  src:  url('fonts/Bauhaus.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bauhaus.woff2') format('woff2'),
        url('fonts/Bauhaus.woff') format('woff'),
        url('fonts/Bauhaus.ttf') format('truetype'),
        url('fonts/Bauhaus.svg#Bauhaus') format('svg');
}

@font-face {
  font-family: 'Garth Graphic';
  src:  url('fonts/Garth Graphic.eot');
  src:  url('fonts/Garth Graphic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Garth Graphic.woff2') format('woff2'),
        url('fonts/Garth Graphic.woff') format('woff'),
        url('fonts/Garth Graphic.ttf') format('truetype'),
        url('fonts/Garth Graphic.svg#Bauhaus') format('svg');
}

* {
  margin: 0;
}

body {
  font-family: "Garth Graphic", serif;
  font-size: 16px;
  background: #EFEFEF;
}

header {
  background: url('bg.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#clouds {
  transform: rotate(180deg);
}

#header-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 650px;
  margin: auto;
  border: 4px solid #fff;
  border-radius: 3px;;
}

#header-text h1 {
  font-size: 4.75em;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.25em 0.5em 0 0.5em;
  background: rgba(0, 0, 0, 0.65);
}

#header-text h2 {
  font-size: 2em;
  color: #FFFFFF;
  background: #FF8A8E;
  padding: 0.5em 0;
}

#header-text h3 {
  font-size: 2em;
  color: #FFFFFF
  background: #FF8A8E
  padding: 0.5em 0;
}

#arrow, #arrow:visited {
  font-size: 6em;
  position: absolute;
  bottom: 0.5em;
  left: calc(50% - 0.25em);
  color: #9D0B0F;
  display: inline-block;
}

h1, h2, h3 {
  text-align: center;
  color: #9D0B0F;
  font-family: "Bauhaus", Verdana, sans-serif;
}

section:first-of-type {
  padding: 7em 1em 1em 1em;
}

section {
  padding: 4em 1em 4em 1em;
}

footer {
  padding: 2em 1em;
  background: #333;
  text-align: center;
  color: #EEE;
}

a.footer-icon, a.footer-icon:visited {
  color: #EEE;
  font-size: 3em;
  margin: 0.2em;
}

footer p {
  margin: 1em 0;
}

section h1 {
  font-size: 3em;
}

section h2 {
  color: #333;
  font-family: Garth Graphic, serif;
  padding: 0.25em 0;
}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5em;
  z-index: 999;
}

nav #logo h1 {
  display: inline-block;
  color: #FFFFFF;
  vertical-align: top;
  font-size: 2.5em;
  padding: 0.15em 0 0 0.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav #logo img {
  height: 3.5em;
  padding: 0.75em;
}

nav a {
  text-decoration: none;
  line-height: 5em;
  padding: 0 0.75em;
}

#links {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%;
}

nav #links a {
  display: inline-block;
  height: 100%;
  color: #FFFFFF;
}

nav #links a:hover, nav #links a.active {
  /* some sort of effect should go here */
}

nav #links a:last-of-type {
  padding-right: 1.5em;
}

#toggleMenu {
  display: none;
}

.section-holder {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
}

.section {
  padding: 1.25em;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.section h2 {
  font-size: 1.5em;
  text-align: left;
}

.section i {
  font-size: 5em;
  float: left;
  margin-right: 0.25em;
}

.section p {
  text-align: left;
}

#learn-by-doing {
  background: #C8BFB6;
  color: #494037;
}

#learn-by-doing div {
  margin: auto;
  max-width: 900px;
}

#learn-by-doing h1 {
  font-size: 6em;
  text-transform: uppercase;
}

#learn-by-doing p {
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 600px;
  text-align: justify;
  margin: auto;
}

#learn-by-doing a, a:visited {
  display: block;
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
}

a.cta, a.cta:visited {
  display: inline-block;
  font-size: 2em;
  background: #9D0B0F;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  font-weight: 300;
}

a.cta.secondary {
  background: #CCC;
  color: #333;
}

#cta {
  text-align: center;
}

#cta a {
  margin: 0.25em;
}

.twelve-hundred {
  margin: 1em auto 0 auto;
  text-align: center;
  max-width: 1200px;
}

.mentor {
  max-width: 300px;
  margin: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  display: inline-block;
  padding: 0 0 15px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  vertical-align: top;
}

.mentor h2 {
  background: #9D0B0F;
  color: #FFFFFF;
  border-radius: 10px 10px 0 0;
}

.mentor-image {
  height: 125px;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
}

.mentor p {
  text-align: center;
  margin-bottom: 15px;
  padding: 0 10px;
}

.mentor-school {
  height: 60px;
}

.philosophy-section {
  max-width: 600px;
  margin: 15px auto;
  background: #FFFFFF;
  border-radius: 10px;
  display: inline-block;
  padding: 0 0 0.3em 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: block;
}

.philosophy-section h2 {
  background: #9D0B0F;
  color: #FFFFFF;
  padding: 0.35em 0;
  border-radius: 10px 10px 0 0;
}

.justify {
  margin-right: 2em;
  text-align: center;
}
.philosophy-section ul {
  margin-top: 0.5em;
}

.philosophy-section li {
  margin: 1em 0;
}

#logistics {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

#logistics .third {
  width: 33%;
  text-align: center;
  padding: 0 2em;
}

#logistics h2 {
  font-size: 2.5em;
}

#questions {
  padding: 0;
}

#founders {
  display: flex;
  justify-content: space-around;
}

#founders h2 {
  text-align: left;
  margin: 0.25em 0 0.25em 0;
}

#founders img {
  border: 1em solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform: rotate(-5deg);
  margin-top: 1em;
}

#founders div {
  max-width: 40%;
}

#school {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

#school p {
  text-align: left;
}

#school img {
  max-width: 45%;
  margin-right: 1em;
  border: 1em solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  display: inline-block;
  float: left;
}

#school div {
  float: right;
  max-width: 45%;
  display: inline-block;
  padding: 0 1.5em;
}

@media (max-width: 1000px) {

  #school img {
    float: none;
    max-width: 400px;
    width: 80%;
    margin-bottom: 1.5em;
  }
   
  #school div {
    display: block;
    max-width: 100%;
  }

}

@media (max-width: 700px) {

  body {
    font-size: 12px;
  }

  nav #logo {
    padding: 0;
  }

  #header-text {
    max-width: 85%;
  }

  #header-text h1 {
    font-size: 3.25em;
  }

  #clouds {
    display: none;
  }

  .section h2 {
    font-size: 1.5em;
  }

  .section i {
    font-size: 3em;
  }

  #learn-by-doing div {
    flex-wrap: wrap;
  }

  #learn-by-doing h1 {
    font-size: 4.5em;
  }

  #logistics {
    flex-direction: column;
  }

  #logistics .third {
    width: auto;
    margin: 1em 0;
  }

  #links {
    width: 100%;
    top: 5em;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  #toggleMenu {
    display: inline-block;
    color: white;
    position: absolute;
    right: 0.5em;
  }

  #founders {
    display: block;
  }

  #founders img {
    max-width: 70%;
    max-height: 300px;
    transform: rotate(-2.5deg);
    margin: 2em auto;
    display: block;
  }

  #founders div {
    max-width: 100%;
  }

}
